In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
# Load dataset
data = pd.read_csv('/content/heart.csv')

In [ ]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [ ]:
data.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [ ]:
data['Sex'] = data['Sex'].map({'F': 0, 'M': 1})

In [ ]:
data.ChestPainType.value_counts()

ASY    496
NAP    203
ATA    173
TA      46
Name: ChestPainType, dtype: int64

In [ ]:
data['ChestPainType'] = data['ChestPainType'].map({'ASY': 0, 'NAP': 1,'ATA':2,'TA':3})

In [ ]:
data.RestingECG.value_counts()

Normal    552
LVH       188
ST        178
Name: RestingECG, dtype: int64

In [ ]:
data['RestingECG'] = data['RestingECG'].map({'Normal': 0, 'LVH ': 1,'ST':2})

In [ ]:
data['ExerciseAngina'] = data['ExerciseAngina'].map({'N': 0, 'Y': 1})

In [ ]:
data.ST_Slope.value_counts()

Flat    460
Up      395
Down     63
Name: ST_Slope, dtype: int64

In [ ]:
data['ST_Slope'] = data['ST_Slope'].map({'Flat ': 0, 'Up': 1,'Down':2})

In [ ]:
data = data.fillna(0)

In [ ]:
data.fillna(0)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,2,140,289,0,0.0,172,0,0.0,1.0,0
1,49,0,1,160,180,0,0.0,156,0,1.0,0.0,1
2,37,1,2,130,283,0,2.0,98,0,0.0,1.0,0
3,48,0,0,138,214,0,0.0,108,1,1.5,0.0,1
4,54,1,1,150,195,0,0.0,122,0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,0.0,132,0,1.2,0.0,1
914,68,1,0,144,193,1,0.0,141,0,3.4,0.0,1
915,57,1,0,130,131,0,0.0,115,1,1.2,0.0,1
916,57,0,2,130,236,0,0.0,174,0,0.0,0.0,1
917,38,1,1,138,175,0,0.0,173,0,0.0,1.0,0

In [ ]:
# Split features and target variable
X = data.drop('HeartDisease', axis=1)
y = data['HeartDisease']

In [ ]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Initialize the decision tree classifier
classifier = DecisionTreeClassifier()

In [ ]:
# Train the model
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
# Make predictions on the test set
predictions = classifier.predict(X_test)

In [ ]:
# Calculate accuracy
accuracy = accuracy_score(y_test, predictions)
print('Accuracy:', accuracy)

Accuracy: 0.8097826086956522